body {
	margin: 0;
	padding: 0;
}


img {
	display: block;
	width: 100%;
}

section {
	width: 100%;
	overflow: hidden;
}

article {
	display: flex;
	width: 200%;
	animation: bannermove 20s linear infinite;
}

article.paused {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
}

div {
	width: 100%;
}

ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

li {
	width: 100%;
}


@keyframes

"bannermove" {
	0%

{
	transform: translateX(0);
}

100% {
	transform: translateX(-50%);
}
}
