@model ResetPasswordEmailVM
@{
    Layout = "_Login_Registration";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        label {
            font-weight: bold;
            color: darkslategray
        }
    </style>

</head>
<body>
    <form action="/Account/SendResetPasswordEmail/@Model" method="post">
        <div class="form-floating mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" style="color:brown;display:inline-block"></span>
        </div>


        
        <input type="submit" value="Reset" class="btn btn-primary" />
        <a href="/Account/Registration" style="color:firebrick"> Didn't Sign Up?</a>
    </form>

</body>
</html>


