<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/CategoriesStyle.css" rel="stylesheet" />
    <link href="~/css/NavBar.css" rel="stylesheet">
    <link href="~/css/ImageShow.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation-->

    <header id="header" style="background-color: #f53f51; color: #fff; position:fixed; top:0; width:100%; z-index:100;">
        @RenderSection("NavBar", false)
    </header>

    <!-- Header-->
    
    <header class="bg-dark mt-5 pt-5 pb-3" style="background-color:darkorange; background-size: cover; background-position: center;">
        @RenderSection("ImageShow", false)
    </header>
    <!-- Section-->
   @RenderSection("Books",false)
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Choose your piece of knowledge</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/CategoriesScript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

