@model List<Book>


@*<section style="border: 5px solid gray; width:100%;">

    <article>
        <div >
            <ul>
                @foreach (var item in Model)
                {
                    <li> <img src="@item.ImagePath" style="width:750px; height:750px;" /></li>
                }
                    
            </ul>
        </div>
    </article>
</section>*@
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height:35rem;">
        <div class="carousel-item active" data-bs-interval="10">
            <img src=".." class="d-block w-75" alt="...">
        </div>
        @foreach(var item in Model)
        {
            <div class="carousel-item" data-bs-interval="1500">
                <img src="@item.ImagePath" style="height:fit-content" class="d-block w-25 ms-auto me-auto" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--mine-->
@* <div id="logos-home-page">
    <div class="slider">
        <div class="slide-track">
            @foreach (var item in Model)
            {
                <div class="slide"><img class="alignnone size-full wp-image-12988" src="@item.ImagePath" alt="" width="270" height="250" /></div>
            }
               
        </div>
    </div>
</div>*@