@model List<Book>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/ImageShow.css" rel="stylesheet">
</head>
<body>
    <section style="border: 5px solid gray;" >

        <article>
            <div>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li> <img src="@item.ImagePath" height="360" width="20"/></li>
                    }
                    
                </ul>
            </div>
        </article>
    </section>

    <!--mine-->
   @* <div id="logos-home-page">
        <div class="slider">
            <div class="slide-track">
                @foreach (var item in Model)
                {
                    <div class="slide"><img class="alignnone size-full wp-image-12988" src="@item.ImagePath" alt="" width="270" height="250" /></div>
                }
               
            </div>
        </div>
    </div>*@
</body>
</html>