
<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
        <a class="navbar-brand" asp-action="MainMenu" asp-controller="MainMenu">
            <span style="color: #5e9693;">Books</span>
            <span style="color: #fff;">logist</span>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Categories" asp-controller="Categories">Books</a>
                </li>
                @if(User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/DashBoard/DashBoard">DashBoard</a>
                    </li>
                    
                }
             
                @*<li class="nav-item">
                    <a class="nav-link" href="#!">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">About</a>
                </li>*@
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="/Bookmarks/Index">Bookmarks</a>
                    </li>
                      
                    @*@if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/Role/AddRole">Role Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/AdminCreate/AddAdmin">Admin Add</a>
                        </li>
                    }*@
                }

            </ul>
            <ul class="navbar-nav d-flex flex-row">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="/Account/LogOut">Logout</a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#!">
                            <span> Welcome @User.Identity.Name </span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Registration">Register</a>
                    </li>
                }
                @*   <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>*@
            </ul>
        </div>
    </div>
</nav>