<div class="container">
<h1 class="mb-3">Add New Employee</h1>
<div class="row">
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="addEmployeeCompoenet()">
      <div class="mb-3" >
        <label for="name" class="form1-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addEmployee.name">
      </div>

      <div class="mb-3" >
        <label for="email" class="form1-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addEmployee.email">
      </div>

      <div class="mb-3" >
        <label for="phone" class="form1-label">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="addEmployee.phone">
      </div>
      <div class="mb-3" >
        <label for="salary" class="form1-label">Salary</label>
        <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="addEmployee.salary">
      </div>

      <div class="mb-3" >
        <label for="department" class="form1-label">Department</label>
        <input type="text" class="form-control" id="department" name="department" [(ngModel)]="addEmployee.department">
      </div>

      <button type="submit" mat-raised-button>Submit</button>
    </form>
  </div>
</div>
</div>
