@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section NavBar{
    <partial name="_NavBarPV" />
}

<div class="mt-5" style="height:80vh">
    <script id="cid0020000350085524867" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">
        {
            "handle":"bookslogist",
            "arch":"js",
            "styles":
                {
                    "b":100,
                    "c":"cc0000",
                    "d":"cc0000",
                    "e":"ffffff",
                    "h":"ffffff",
                    "l":"FFFFFF",
                    "m":"FFFFFF",
                    "p":"10",
                    "q":"cc0000",
                    "r":100,
                    "ab":false,
                    "usricon":0,
                    "sbc":"bbbbbb",
                    "surl":0,
                    "allowpm":0,
                    "showx":0
                }
        }
    </script>
</div>